@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d1117;
    font-family: "Gravitas One"
}

.heading {
    font-size: 40px;
    color: white;
    margin: 15px;
}